input {
    margin: 5px;
    width: 100%;
}

textarea {
    margin: 5px;
    width: 100%;
}

.selector {
    border: 5px solid rgb(233, 233, 233);
    background: rgb(248, 248, 248);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 4px 10px 4px 10px;
    width: 100%;
}

.add-button {
    display: inline-block;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    padding: 4px 10px 4px 10px;
    margin: 5px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.add-button:hover {
    background-color: rgb(210, 255, 174);;
    cursor: pointer;
}