<div class="header">
  <div class="logo header-text">Library</div>
  <div class="logbtn header-text" (click)="auth()">{{authButtonLabel}}</div>
</div>
<div class="search">
<app-search (onEqual)="onOpenNode($event)"></app-search>
</div>
<div class="header"><hr></div>
<div class="bookpage">
  <div class="tree">
      <div class="column-name">Дерево категорий и книг</div>
      <div class="add-child-button" *ngIf="isAuthorized" (click)="onOpenAdd(bookTree.root)">+ Добавить категорию</div>
    <app-tree-render [node]="bookTree.root" (onClick)="onOpenNode($event)" [isAuthorized]="isAuthorized" (onAdd)="onOpenAdd($event)"></app-tree-render>
  </div>
  <div class="about">
      <div class="column-name" *ngIf="isNotJustNode(openedNode) && openedNode.parent !== null && !isOpenedAdd">Информация</div>
      <div class="column-name" *ngIf="isOpenedAdd">Добавление</div>
    <app-about-node [(node)]="openedNode" *ngIf="!isOpenedAdd" [isAuthorized]="isAuthorized"></app-about-node>
    <app-add-form *ngIf="isOpenedAdd" [parentNode]="parentNode"></app-add-form>
  </div>
</div>

<router-outlet></router-outlet>
