.treeli {
    font-size: 16px;
    margin-left: 40px;
}

.clickli {
    display: inline-block;
    border: 5px solid rgb(233, 233, 233);
    border-radius: 10px;
    padding: 4px 10px 4px 10px;
    margin: 5px;
    text-align: center;
}

.clickli:hover {
    cursor: pointer;
    border: 5px solid lightblue;
}

.activeli {
    border-color: rgb(126, 0, 0);
}







